# Data Types

Numbers

In [ ]:
a= 5
print(a,type(a))

5 <class 'int'>

In [ ]:
b =5.5
print(b,type(b))

5.5 <class 'float'>

In [ ]:
c = 2+5j
print(c,type(c))

(2+5j) <class 'complex'>

String

In [ ]:
s = "This is a string"

In [ ]:
print(s,type(s))

This is a string <class 'str'>

In [ ]:
s = ''' A multiline String '''
print(s,type(s))

 A multiline String  <class 'str'>

In [ ]:
s= "Hello@123"
print(s,type(s))

Hello@123 <class 'str'>

In [ ]:
s = '''Heloo
       Welcome to Wscubetech
       '''
print(s,type(s))

Heloo
       Welcome to Wscubetech
        <class 'str'>

In [ ]:
s='10'
print(s,type(s))

10 <class 'str'>

List

In [ ]:
l=[10,'ws',5.5]
print(l,type(l))

[10, 'ws', 5.5] <class 'list'>

In [ ]:
l[2]=10
print(l,type(l))

[10, 'ws', 10] <class 'list'>

Tuple

In [ ]:
t = (10,20,'Hello')
print(t,type(t))

(10, 20, 'Hello') <class 'tuple'>

In [ ]:
t=(10)
print(t,type(t))

10 <class 'int'>

In [ ]:
t = (10,20.'Hello')
t[1] = 30
print(t,type(t))
#Tuple is immutable

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-2476344497.py, line 1)

In [ ]:
d = {
    'Course_name': 'Python',
    'Course_Duration': '2 Months'
}
print(d,type(d))

{'Course_name': 'Python', 'Course_Duration': '2 Months'} <class 'dict'>

In [ ]:
print(d['Course_name']) #Disctionary  is mutable data types

Python

Set

In [ ]:
my_set = {1,2,3}
print(my_set,type(my_set))

{1, 2, 3} <class 'set'>

In [ ]:
s = {10,20,30,10}
print(s,type(s))

{10, 20, 30} <class 'set'>

# Getting User Input & Type Casting

input()

In [ ]:
a = input("Enter The Value:-")

Enter The Value:-10

In [ ]:
print(a)

10

In [ ]:
a = input("Enter The Value1:-")
b = input("Enter The Value2:-")
print(a+b)

Enter The Value1:-10
Enter The Value2:-20
1020

Type Casting

In [ ]:
a = int(input("Enter The Value1:-"))
b = int(input("Enter The Value2:-"))
print(a+b)

Enter The Value1:-10
Enter The Value2:-20
30

int()

In [ ]:
a = int(input("Enter The Value1:-"))
b = int(input("Enter The Value2:-"))
print(a+b)

Enter The Value1:-10
Enter The Value2:-20
30

float()

In [ ]:
a = float(input("Enter The Value1:-"))
b = float(input("Enter The Value2:-"))
print(a+b)

Enter The Value1:-10.5
Enter The Value2:-10
20.5

In [ ]:
a = eval(input("Enter The Value1:-"))
b = eval(input("Enter The Value2:-"))
print(a+b)

Enter The Value1:-10
Enter The Value2:-10
20

In [ ]:
a = eval(input("Enter The Value1:-"))
b = eval(input("Enter The Value2:-"))
print(a+b)

Enter The Value1:-20.5
Enter The Value2:-10
30.5

In [ ]:
a = eval(input("Enter The Value1:-"))
b = eval(input("Enter The Value2:-"))
print(a+b)

Enter The Value1:-0b1010
Enter The Value2:-20
30

In [ ]:
# eval()can handle int(),float() and binary also

#Conditional Statements

if statements

In [ ]:
a = int(input("Enter The Value1:-"))
if a%2 == 0 :
  print(a,"Even Number")

Enter The Value1:-20
20 Even Number

In [ ]:
a = int(input("Enter The Value1:-"))
if a%2 == 0 :
  print(a,"Even Number")

Enter The Value1:-21

if else Statements

In [ ]:
a = int(input("Enter the value:-"))
if a%2 == 0 :
  print(a,"Even Number")
else :
  print(a,"Odd Number")

Enter the value:-20
20 Even Number

In [ ]:
a = int(input("Enter the value:-"))
if a%2 == 0 :
  print(a,"Even Number")
else :
  print(a,"Odd Number")

Enter the value:-21
21 Odd Number

In [ ]:
a = int(input("Enter the value:-"))
if a%2 == 0 :
  print(a,"Even Number")
  print("Welcome to Wscubetech")
else :
  print(a,"Odd Number")

Enter the value:-22
22 Even Number
Welcome to Wscubetech

if elif else Statement

In [ ]:
per = int(input("Enter The Value:"))
if per >= 60 :
  print("First Division")
elif per >= 48 :
  print("Second Division")
elif per >= 35 :
  print("Third Division")
else :
  print("Fail")

Enter The Value:58
Second Division

In [ ]:
per = int(input("Enter The Value:"))
if per >= 60 :
  print("First Division")
elif per >= 48 :
  print("Second Division")
elif per >= 35 :
  print("Third Division")
else :
  print("Fail")

Enter The Value:15
Fail

In [ ]:
per = int(input("Enter The Value:"))
if per >= 60 :
  print("First Division")
elif per >= 48 :
  print("Second Division")
elif per >= 35 :
  print("Third Division")
else :
  print("Fail")

Enter The Value:75
First Division

Simple Calculations

In [ ]:
num1 = int(input("Enter The Value1:-"))
num2 = int(input("Enter The Value2:-"))
opr = input("Enter The Operation:-")
if opr == '+' :
  print(num1+num2)
elif opr == '-' :
  print(num1-num2)
elif opr == '*' :
  print(num1*num2)
elif opr == '/' :
  print(num1/num2)
else :
  print("Invalid Operation")

Enter The Value1:-10
Enter The Value2:-20
Enter The Operation:-/
0.5

In [ ]:
num1 = int(input("Enter The Value1:-"))
num2 = int(input("Enter The Value2:-"))
opr = input("Enter The Operation:-")
if opr == '+' :
  print(num1+num2)
if opr == '-' :
  print(num1-num2)
if opr == '*' :
  print(num1*num2)
if opr == '/' :
  print(num1/num2)
else :
  print("Invalid Operation")

Enter The Value1:-10
Enter The Value2:-20
Enter The Operation:--
-10
Invalid Operation

In [ ]:
num1 = int(input("Enter The Value1: "))
num2 = int(input("Enter The Value2: "))
opr = input("Enter The Operation (+, -, *, /): ")

if opr == '+':
    print("Result:", num1 + num2)
elif opr == '-':
    print("Result:", num1 - num2)
elif opr == '*':
    print("Result:", num1 * num2)
elif opr == '/':
    # division by zero check
    if num2 != 0:
        print("Result:", num1 / num2)
    else:
        print("Error: Division by zero is not allowed!")
else:
    print("Invalid Operation")

Enter The Value1: 10
Enter The Value2: 20
Enter The Operation (+, -, *, /): &
Invalid Operation

For Loop With Range()

In [ ]:
range(5) # 0,1,2,3,4

range(0, 5)

In [ ]:
range(1,6) #1,2,3,4,5

range(1, 6)

In [ ]:
range(1,6,2) #1,3,5

range(1, 6, 2)

In [ ]:
for n in range(5):
  print(n)

0
1
2
3
4

In [ ]:
for n in range(1,6):
  print(n)

1
2
3
4
5

In [ ]:
for n in range(1,6,2):
  print(n)

1
3
5

In [ ]:
for n in range(5):
  print("Welcome")

Welcome
Welcome
Welcome
Welcome
Welcome

In [ ]:
for a in range(1,11):
  print(a)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for a in range(1,11):
  print(2*a)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for a in range(1,11):
  print("2*",a,"=",2*a)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [ ]:
for n in range(10,0,-1):
  print(n)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for n in range(10,0,-2):
  print(n)

10
8
6
4
2

In [ ]:
for n in range(10,-1,-2):
  print(n)

10
8
6
4
2
0

While Loop

In [ ]:
i = 1
while i<= 10:
  print("Welcome to Wscubetech")
  i=i+1

Welcome to Wscubetech
Welcome to Wscubetech
Welcome to Wscubetech
Welcome to Wscubetech
Welcome to Wscubetech
Welcome to Wscubetech
Welcome to Wscubetech
Welcome to Wscubetech
Welcome to Wscubetech
Welcome to Wscubetech